{% extends "LandingPage/index.html" %}
{% block title %} Michael Auritt: Contact{% endblock %}
{% block navID %}Contact{% endblock %}"
{% block content %}
 {% load staticfiles %}

<div class="row" id="contactIcons">
    <div>
        <a href="https://www.linkedin.com/in/mauritt/">
            <img
                id="LinkedIn"
                src="{% static 'images/Logos/LinkedIn/LinkedIn_Logo_NoHover.png' %}"
                onmouseover="swapLogo(this, 'LinkedIn_Logo_Hover.png');"
                onmouseout="swapLogo(this, 'LinkedIn_Logo_NoHover.png');"
                alt="LinkedIn"
            >
        </a>
    </div>
    <div>
        <a href="https://github.com/mauritt">
            <img
                id="GitHub"
                src="{% static 'images/Logos/GitHub/GitHub_Logo_NoHover.png' %}"
                onmouseover="swapLogo(this, 'GitHub_Logo_Hover.png');"
                onmouseout="swapLogo(this, 'GitHub_Logo_NoHover.png');"
                alt="GitHub"></a>
    </div>
</div>

    {% csrf_token %}
    <form id="contact" class="form" role="form" action={% url "contact:send" %} method="post">
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>





{% endblock %}
