{% extends "LandingPage/index.html" %}
{% block title %} Michael Auritt: Contact{% endblock %}
{% block navID %}Contact{% endblock %}"
{% block content %}
 {% load staticfiles %}
<div id="content">
    <div id="externalSites" class="row">
        <ul id="contactIcons" class="col-6">
            <li>
                <a href="https://www.linkedin.com/in/mauritt/">
                    <img
                        id="LinkedIn"
                        src="{% static 'images/Logos/LinkedIn/LinkedIn_Logo_NoHover.png' %}"
                        onmouseover="swapLogo(this, 'LinkedIn_Logo_Hover.png');"
                        onmouseout="swapLogo(this, 'LinkedIn_Logo_NoHover.png');"
                        alt="LinkedIn"
                    >
                </a>
            </li>

            <li>
                <a href="https://github.com/mauritt">
                    <img
                        id="GitHub"
                        src="{% static 'images/Logos/GitHub/GitHub_Logo_NoHover.png' %}"
                        onmouseover="swapLogo(this, 'GitHub_Logo_Hover.png');"
                        onmouseout="swapLogo(this, 'GitHub_Logo_NoHover.png');"
                        alt="GitHub"
                    >
                </a>
            </li>
        </ul>

    </div>
    <div class="col-md-10" id="contactForm">
        <h2>Email Me</h2>
        <form id="contact" target="submission.frame" class="form" role="form" action={% url "contact:send" %} method="post" onsubmit="sent()">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
        <iframe name="submission.frame" hidden></iframe>
        </form>

    </div>

</div>

{% endblock %}
