<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/portfolio.js' %}"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="container">

            <header class="container">
                {% block header %}
                {% endblock %}
            </header>

            <main class="container", id="main">
                {% block content %}
                {% endblock %}
            </main>

            <footer class="container">
                {% block footer %}
                {% endblock %}
            </footer>

        </div>



    </body>

</html>
