/* Body */

body{
    font-family: Verdana, sans-serif;
    font-size: 20pt;
}



/* Site Title */

#siteTitle{
    margin-top:15%;
    margin-bottom: 10%;
}

#siteTitle h1{
    font-size: 5em;
}

#siteTitle h2{
    font-size: 2em;
}




/* Site Navigation */

footer{
    margin-top: 3%;
}

#siteNav ul{
    list-style-type: none;
}

#siteNav li{
    display: inline;
    margin-right: 5%;
}

#siteNav li a{
    font-size: 1.5em;
}


/* Portfolio Page */
    #content{
        padding-top: 5%;
    }


/* Portfolio Details */

#details .tagList{
    list-style-type: none;
}

#details .tagList li{
    display: inline;
}

#details #embed{
    border-style: solid;
    width: 100%;
}

#details #description{
    font-size: .75em;
}

/* Portfolio Projects List */

#projects{
    padding: 0;
}

#projects ul{
    list-style-type: none;

}

#projects .thumbnail{
    width: 65%;
    margin: 0 auto 5% auto;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;

}
#projects h3{
    font-size: .9em;
    border-bottom-style: solid;
    width: 80%;
    position: relative;
    left:10%;
}


