{% extends "base.html" %}
{% block title %} Michael Auritt: Python Developer &amp; Video Producer{% endblock %}


{% block header %}
<nav id="siteNav" class="row">
    <ul class="col-md-12">
        <li class="inactive"><a href="/">About</a></li>
        <li ><a href="" onclick="changePage(this, 'portfolio'); return false;">Code</a></li>
        <li ><a href="" onclick="changePage(this, 'portfolio'); return false;">Video</a></li>
        <li ><a href="" onclick="changePage(this, 'contactpage'); return false;">Contact</a></li>
    </ul>
</nav>
{% endblock %}


{% block content %}
<div id="siteTitle">
    <h1>{{ details.name }}</h1>
    <h2>{{ details.title }}</h2>
</div>
<div id="bio">
    <p>{{ details.description }}</p>
</div>
{% endblock %}


