{% block content %}
{% load staticfiles %}
<div id="details">

    <h2 id="project_{{ project.id }}">{{ project.name }}</h2>
    {% if project.host.base_embed_url %}
        <iframe
        id="embed"
        src="{{ project.host.base_embed_url }}{{ project.host_code }}"
        width=640
        height=360
        frameborder=0
        >

        </iframe>
    {% endif %}

    {% for tag_category in tag_categories %}
    <ul class="tagList" >
    <li>{{ tag_category.name }}s:</li>
        {% for tag in tags %}
            {% if tag.category == tag_category %}
                <li><a href="{% url 'projects:tag' project.project_type  tag.name 'Tile' %}">{{ tag.name }}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ul>

    <p id="description">{{ project.description }}</p>

</div>

{% endblock %}
