{% block content %}
{% load staticfiles %}
<div id="details">

    <h2 id="project_{{ project.id }}">{{ project.name }}</h2>
    {% if project.url %}
    <h3 id="url"><a href="{{project.url}}">{{project.displayURL}}</a></h3>
    {% endif %}
    {% if project.host.base_embed_url %}
        <iframe
        id="embed"
        src="{{ project.host.base_embed_url }}{{ project.host_code }}"
        width=640
        height=360
        frameborder=0
        >

        </iframe>
    {% else %}
        <img
            id="posterImage"
            width=640
        height=360
            src="{% static project.thumbnail_image %}"
                >
    {% endif %}

    {% for tag_category in tag_categories %}
    <ul class="tagList" >
    <li>{{ tag_category.name }}s:</li>
        {% for tag in tags %}
            {% if tag.category == tag_category %}
                <li><a>{{ tag.name }}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ul>

    <div id="description">
    <p>{{ project.description }}</p>
    </div>

</div>

{% endblock %}
