{% extends 'LandingPage/index.html' %}
{% load staticfiles %}

{% block content %}
<div >
    <div class="row" id="portfolio" >
    {% for project in examples %}
        <div class="col-md-4 project"><img onclick="show_project(this, '{{ project.id }}')" class="thumbnail_image" src="{% static '' %}{{ project.thumbnail_image}}"/>
        </div>
    {% endfor %}
    </ul>
    </div>
</div>

<div>
    <div id="lightbox">

    </div>

    <div id="screen" onclick="hide_video()">
    </div>
</div>
{% endblock %}
