{% extends "base.html" %}
{% block title %} Michael Auritt:{{ project_type }}{% endblock %}

{% block content %}
{% load staticfiles %}
<div id="portfolio">
    <div class="row">
    {% for project in examples %}
        <div class="col-md-4 project" class="project" ><img onclick="show_video(this, {{ project.id }})" class="thumbnail_image blur" src="{% static '' %}{{ project.thumbnail_image}}"/>
        </div>
    {% endfor %}
    </ul>
    </div>
</div>

<div>
    <div id="lightbox">
</div>
<div id="screen" onclick="hide_video(this)">
</div>
</div>



{% endblock %}
